@model IQueryable<KiisMVC.Models.T_CompanyMaster>


@{
    ViewBag.Title = "ShearchQuery";
}

<ol class="breadcrumb">
    <li>@Html.ActionLink("Kiis", "Index", "Home")</li>
    <li>事業所登録台帳</li>
</ol>
<!-- Horizontal Form -->
<div class="box box-info form-horizontal">
    <div class="box-header with-border">
        <h3 class="box-title">検索条件</h3>
    </div>
    <!-- /.box-header -->
    <!-- form start -->

    @using (Html.BeginForm(
                                          "ShearchQuery",
                                          "Company",
                                          null,
                                          FormMethod.Post,
                                          new { enctype = "multipart/form-data" }
                                          ))
    {
        @Html.AntiForgeryToken()

        @*<form class="form-horizontal">*@
        <div class="box-body">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">事業所整理記号</label>
                @*<input  class="col-sm-10" id="kigou" placeholder="事業所記号を入力" />*@
                <div class="col-sm-8">

                    @Html.TextBoxFor(Model => Model.First().記号, htmlAttributes: new { @class = "form-control", @placeholder = "事業所記号を入力" })
                    @*@Html.TextBox("kigou", "" ,new { placeholder = "事業所整理記号を入力" })*@
                </div>

            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">事業所名称</label>

                <div class="col-sm-8">
                    @*@Html.TextBox("bango", "", new { placeholder = "事業所名称を入力（一部のみ可）" })*@
                    @Html.TextBoxFor(Model => Model.First().事業所名, htmlAttributes: new { @class = "form-control", @placeholder = "事業所名称を入力（一部のみ可）" })
                </div>
            </div>

        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" value="ShearchQuery" class="btn btn-primary">検索</button>
        </div>
        <!-- /.box-footer -->
        @*</form>*@
    }
</div>

<div class="box">


    <div class="box-header">
        <small class="box-title">事業所登録台帳</small>
    </div>
    <table class="table table-hover table-condensed table-striped">
        @*<tr>
            <th>
                @Html.DisplayNameFor(Model => Mode
            </th>
            <th>
                @Html.DisplayNameFor(model => model.社保記号)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.番号)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.事業所名)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.事業主)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.郵便番号)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.住所01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.住所02)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.電話番号)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.被保険者数_男)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.被保険者数_女)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.被保険者数計)
            </th>

            <th></th>
        </tr>*@

        @foreach (var item in Model.OrderBy(x => x.記号))
            {
            <tr>
                <td>
                    @Html.DisplayFor(x => item.記号)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.社保記号)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.番号)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.事業所名)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.事業主)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.郵便番号)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.住所01)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.住所02)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.電話番号)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.被保険者数_男)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.被保険者数_女)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.被保険者数計)
                </td>

                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.記号 })
                </td>
            </tr>
        }

    </table>
</div>
