@*<!DOCTYPE html>
    <html>
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - マイ ASP.NET アプリケーション</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("アプリケーション名", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("ホーム", "Index", "Home")</li>
                        <li>@Html.ActionLink("詳細", "About", "Home")</li>
                        <li>@Html.ActionLink("連絡先", "Contact", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - マイ ASP.NET アプリケーション</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>*@


<!doctype html>
<head>
    <meta charset="utf-8">
    <title>Kiis - 健康保険組合業務支援システム - </title>
    <!-- for responsive -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- bootstrap -->
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <!-- font awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- ionicons -->
    <link href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <!-- adminLTE style -->
    <link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/dist/css/skins/skin-blue.min.css" rel="stylesheet" type="text/css" />

    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@

</head>


<body class="skin-blue">
    <div class="wrapper">

        <!-- トップメニュー -->
        <header class="main-header">

            <!-- ロゴ -->
            <a href="" class="logo">Kiis</a>

            <!-- トップメニュー -->
            <nav class="navbar navbar-static-top" role="navigation">

                <!-- メニュー項目 -->
                <!-- 小さくなった時に消す -->
                <div class="collapse navbar-collapse" id="navbar-collapse">

                    <!-- サイドバー制御 -->
                    <a href="" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>

                    @*<ul class="nav navbar-nav">
                        <li><a href="">顧客管理</a></li>
                        <li><a href="">売上管理</a></li>
                        doropdown
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">その他<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="">その他１</a></li>
                                <li><a href="">その他２</a></li>
                            </ul>
                        </li>
                    </ul>*@

                    <!-- 右に寄せるメニュ :navbar-rightとかもあるが、マージが無い -->
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <li><a href=""><i class="fa fa-sign-out"></i>ログアウト</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        </header><!-- end header -->
        <!-- サイドバー -->
        <aside class="main-sidebar">

            <section class="sidebar">

                <ul class="sidebar-menu">

                    <!-- メニューヘッダ -->
                    <li class="header">Menu</li>

                    <!-- メニュー項目 -->

                    <li class="treeview">
                        <a href=""><i class="fa fa-circle-o"></i>共通事務<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("事業所登録台帳", "Index", "Company")</li>
                            <li>@Html.ActionLink("発送業務", "Index", "DeliveryService")</li>
                            <li>@Html.ActionLink("送付状・送信状", "Index", "Home")</li>
                            <li>@Html.ActionLink("起案書", "Index", "Home")</li>
                            <li>@Html.ActionLink("受付進捗管理システム", "About", "Home")</li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href=""><i class="fa fa-circle-o"></i>総務<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href=""><i class="fa fa-circle-o"></i>適用<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                        </ul>
                    </li>

                    <li class="treeview">
                        <a href=""><i class="fa fa-circle-o"></i>給付<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>

                        </ul>
                    </li>

                    <li class="treeview">
                        <a href=""><i class="fa fa-circle-o"></i>保健事業<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                        </ul>
                    </li>


                    <li class="treeview">
                        <a href=""><i class="fa fa-circle-o"></i>管理者向け<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                            <li>@Html.ActionLink("HogeHoge", "Index", "Home")</li>
                        </ul>
                    </li>


                </ul>

            </section>

        </aside>

        <!-- content -->
        <div class="content-wrapper">
            <!-- メインコンテンツ -->
            <section class="content">
                @RenderBody()

            </section>

        </div>


        <!-- フッター -->
        <footer class="main-footer">
            <div class="pull-right hidden-xs">Version1.0</div>
            <strong>Copyright &copy; 2015</strong>, All rights reserved.
        </footer><!-- end footer -->


    </div><!-- end wrapper -->
    <!-- JS -->
    <!-- jquery -->
    <script src="~/Scripts/jquery.js" type="text/javascript"></script>
    <!-- bootstrap -->
    <script src="~/Content/bootstrap.min.js" type="text/javascript"></script>
    <!-- adminLTE -->
    <script src="~/Content/dist/js/app.min.js" type="text/javascript"></script>

    @*@Scripts.Render("~/bundles/jquery")*@
        @*@Scripts.Render("~/bundles/bootstrap")*@
        @RenderSection("scripts", required: false)

</body>
</html>
